<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
	xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
	lang="en-us"
>
	<head>
		<title>Via Nut - Meus Pedidos</title>
		<vtex:metaTags />
		<vtex:template id="metodo-scriptecss" />
		<link
			href="/arquivos/metodo-account.css"
			rel="stylesheet"
			type="text/css"
			media="all"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body class="client-orders">
		<!--  SubTemplate: Header -->
		<vtex:template id="metodo-header" />
		<!-- /SubTemplate: Header -->

		<main class="ext">
			<div class="int">
				<section class="line header-client">
					<h2><span>Meus Pedidos</span></h2>
					<h3><span></span> pedidos realizados</h3>
				</section>
				<section class="line order-client">
					<vtex.cmc:orderList />
				</section>
			</div>
		</main>

		<!-- SubTemplate: Footer -->
		<vtex:template id="metodo-footer" />
		<!-- /SubTemplate: Footer -->

		<script src="/arquivos/metodo-account.js" type="text/javascript"></script>
	</body>
</html>
