// Variaveis
$primary-color: #578e77;
$secondary-color: #404040;
$tertiary-color: #70bb9d;

// Details
$details-color: #70bb9d;
$details-account: #7a96c6;

// Default
$black: #000;
$dark-black: #212121;
$light-black: #e9e9e9;
$grey: #404040;
$light-grey: #c3c3c3;
$lighter-grey: #eeeeee;
$white: #fff;
$smoke: #f7f7f7;
$red: #ff0000;
$red-light: #ffb7b7;
$green: #25af5a;
$green-dark: #93c050;
$shadow-color: #f1fbfe;
$transparent: rgba(255, 0, 0, 0);

// Borders
$border-radius-sm: 6px;
$border-radius-base: 10px;
$border-radius-lg: 20px;
$border-radius-xl: 40px;

// Font color
$font-color: #575757;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-family-base: "Lato", sans-serif;

// Mobile
$mobile: "(max-width: 767px)";
