<footer id="footer" class="ext">
	<div class="e-footer">
		<div class="e-footer__content int">
			<ul>
				<li>
					<p>Sobre a<br /><b>Loja São Pedro</b></p>
					<a href="/institucional/quem-somos">SAIBA MAIS+</a>
				</li>
				<li>
					<p>Conheça nossas<br /><b>lojas</b></p>
					<a href="/institucional/nossas-lojas">Compre aqui+</a>
				</li>
				<li>
					<p>Confira seus<br /><b>pedidos</b></p>
					<a href="/account/orders/">Veja aqui+</a>
				</li>
				<li>
					<p>Fale aqui!<br /><b>contato</b></p>
					<a href="/institucional/fale-conosco">Fale aqui+</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="int line">
		<ul class="col col20 eq02 e-contacts">
			<li>
				<vtex.cmc:whats />
				<div>
					<h5>Central de Atendimento</h5>
					<a
						href="https://api.whatsapp.com/send?phone=556232916350&amp;text=Oi%20Vianut!"
						target="_blank"
						>(62) <b>3291-6350</b></a
					>
				</div>
			</li>
			<li>
				<vtex.cmc:email />
				<div>
					<h5>Mande-nos um Email!</h5>
					<a href="mailto:duvidas@vianut.com.br" target="_blank"
						>duvidas@vianut.com.br</a
					>
				</div>
			</li>
			<li>
				<vtex.cmc:hour />
				<div>
					<h5>Horário de Atendimento</h5>
					<a href="#">Segunda a Sexta das 9h às 18h</a>
				</div>
			</li>
		</ul>
		<ul class="col col25 eq03">
			<h4>Institucional<vtex.cmc:arrowdown /></h4>
			<ul class="mobile">
				<li><a href="/institucional/quem-somos">Quem somos</a></li>
				<li><a href="/institucional/nossas-lojas">Nossas lojas</a></li>
				<li><a href="/institucional/fale-conosco">Contato</a></li>
			</ul>
			<div>
				<h4>Como pagar?</h4>
				<img
					src="/arquivos/icon-payment-footer.png"
					alt="Bandeiras de pagamento"
				/>
			</div>
		</ul>
		<ul class="col col25 eq03">
			<h4>Informações<vtex.cmc:arrowdown /></h4>
			<ul class="mobile">
				<li>
					<a href="/institucional/politica-privacidade"
						>Política de privacidade</a
					>
				</li>
				<li>
					<a href="/institucional/trocas-devolucoes">Política de envio</a>
				</li>
				<li>
					<a href="/institucional/trocas-devolucoes">Troca e devolução</a>
				</li>
			</ul>
			<div>
				<h4>Loja segura</h4>
				<img
					src="/arquivos/icon-segurança-footer.png"
					alt="Icones de segurança"
				/>
			</div>
		</ul>
		<ul class="col col25 eq03">
			<h4>Minha conta<vtex.cmc:arrowdown /></h4>
			<ul class="mobile">
				<li>
					<a href="/account/">Login/ Cadastre-se</a>
				</li>
				<li><a href="/account/orders/">Meus pedidos</a></li>
				<li>
					<a href="/checkout/#/cart">Meu carrinho</a>
				</li>
			</ul>
			<div class="images">
				<img src="/arquivos/logo-metodo.png" alt="Via Nut" />
				<img src="/arquivos/icon-vtex-footer.png" alt="Vtex Logo" />
			</div>
		</ul>
		<ul class="col col25 eq05">
			<div class="mobile" style="display: none">
				<div>
					<h4>Como pagar?</h4>
					<img
						class="payment"
						src="/arquivos/icon-payment-footer3.png"
						alt="Bandeiras de pagamento"
					/>
				</div>
				<div>
					<h4>Loja segura</h4>
					<img
						src="/arquivos/icon-segurança-footer.png"
						alt="Icones de segurança"
					/>
				</div>
			</div>
		</ul>
	</div>
</footer>

<div id="newsletter" class="ext">
	<div class="int">
		<img src="/arquivos/icon-submit-news.png" alt="Newsletter Icone" />
		<div>
			<p>Inscreva-se na nossa Newsletter</p>
			<b>e receba ofertas e novidades exclusivas</b>
		</div>
		<section>
			<div id="mensagem"></div>
			<div class="newsletter">
				<input type="text" id="nome" placeholder="Nome" />
				<input type="text" id="sobrenome" placeholder="Sobrenome" />
				<input type="email" id="email" placeholder="Seu email..." />
				<button>Cadastrar</button>
			</div>
		</section>
	</div>
</div>

<div class="line int e-copy">
	<div class="e-copy__left">
		<a href="https://www.facebook.com/vianut.nutri/?ti=as" target="_blank"
			><vtex.cmc:face
		/></a>
		<a href="https://www.instagram.com/vianut/?hl=pt-br" target="_blank"
			><vtex.cmc:insta
		/></a>
	</div>
	<div class="images" style="display: none">
		<img src="/arquivos/logo-metodo.png" alt="Via Nut" />
		<img src="/arquivos/icon-vtex-footer.png" alt="Vtex Logo" />
	</div>
	<div class="e-copy__right">
		<p>@2020 Todos os direitos reservados</p>
	</div>
</div>

<div id="history" style="display: none">
	<vtex.cmc:navigationHistory />
</div>
