<div class="my_login" rel="" style="display: none">
	<vtex.cmc:welcomeMessage />
</div>

<!-- header mobile -->
<div id="mob-header" class="ext">
	<div class="menu-mobile">
		<div class="close-sub">Voltar</div>
		<div class="close-menu">x</div>
		<div class="wrap">
			<!-- menu será copiado aqui via JS -->
			<ul></ul>
		</div>
	</div>

	<div class="line eq01">
		<div class="header-top">
			<div class="header-top__top">
				<a
					href="https://api.whatsapp.com/send?phone=556936412358&amp;text=Oi%20Sao%20Pedro!"
					target="_blank"
					><vtex.cmc:whats
				/></a>
				<vtex.cmc:TopBarDiscountMobileTop />
			</div>
			<div class="header-top__bottom">
				<vtex.cmc:discount />
				<p><vtex.cmc:TopBarDiscountMobile /></p>
			</div>
		</div>
	</div>
	<div class="int">
		<div class="line eq01">
			<div id="burger-menu">
				<vtex.cmc:menu />
			</div>
			<ul id="mobile-actions">
				<li class="eq03 l-login" id="icon-mobile-account">
					<vtex.cmc:user />
					<ul>
						<li><a href="/account">Minha Conta</a></li>
						<li><a href="/account/orders/">Meus Pedidos</a></li>
						<li><a href="/no-cache/user/logout">Sair</a></li>
					</ul>
				</li>
				<li class="eq04" id="icon-mobile-cart">
					<a href="/checkout/#/cart"><vtex.cmc:smartcart /></a>
					<div id="amount-li">
						<vtex.cmc:AmountItemsInCart />
					</div>
				</li>
			</ul>
		</div>
		<div class="line eq02">
			<a href="/" class="logo">
				<img src="/arquivos/logo.png" alt="Via Nut" />
			</a>
		</div>
		<div class="line eq02 search">
			<vtex.cmc:fullTextSearchBox />
		</div>
	</div>
</div>

<header id="header" class="ext">
	<div class="header-top">
		<div class="int">
			<div class="header-top__left">
				<vtex.cmc:discount />
				<p><vtex.cmc:TopBarDiscountDesktop /></p>
			</div>
			<div class="header-top__right">
				<a href="https://web.facebook.com/Loja.saopedroafo" target="_blank"
					><vtex.cmc:face
				/></a>
				<a
					href="https://www.instagram.com/loja.saopedro/?hl=pt-br"
					target="_blank"
					><vtex.cmc:insta
				/></a>
				<a
					href="https://api.whatsapp.com/send?phone=556936412358&amp;text=Oi%20Sao%20Pedro!"
					target="_blank"
					><vtex.cmc:whats
				/></a>
				<vtex.cmc:TopBarDiscountDesktopRight />
			</div>
		</div>
	</div>
	<div class="header-middle">
		<div class="int">
			<div id="top-content" class="line">
				<a href="/" class="logo">
					<img src="/arquivos/logo.png" alt="Via Nut" />
				</a>
				<div class="search">
					<vtex.cmc:fullTextSearchBox />
				</div>
				<ul id="topbar">
					<li class="eq02 l-login">
						<a href="/account/"><vtex.cmc:user />Login ou Cadastre-se</a>
						<div class="user-logged">
							<vtex.cmc:user />
							<div>
								<a href="/account">Minha Conta</a>
								<a href="/account/orders/">Meus Pedidos</a>
							</div>
						</div>
					</li>
					<li class="eq03" id="cart">
						<div>
							<a href="/checkout/#/cart"><vtex.cmc:smartcart /></a>
							<div id="amount-li">
								<vtex.cmc:AmountItemsInCart />
							</div>
						</div>
						<div id="miniC" class="nav-drop"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- MENU SUPERIOR -->
	<div id="reference-menu" style="display: none">
		<vtex.cmc:departmentNavigator />
	</div>
	<nav id="nav-menu" class="nav-menu ext">
		<ul class="int e-menu"></ul>
	</nav>
	<!-- /MENU SUPERIOR -->
</header>
<!-- /header -->
