<footer id="footer" class="ext">
  <div class="int">
    <div class="col col70" id="payment-forms">
      <h4>Meios de Pagamento</h4>
      <ul class="eq01">
        <li><img src="/arquivos/icone-visa.png" alt="Visa" title="Visa" /></li>
        <li><img src="/arquivos/icone-mastercard.png" alt="Master Card" title="Master Card" /></li>
        <li><img src="/arquivos/icone-maestro.png" alt="Maestro" title="Maestro" /></li>
        <li><img src="/arquivos/icone-american-express.png" alt="American Express" title="American Express" /></li>
        <li><img src="/arquivos/icone-elo.png" alt="elo" title="elo" /></li>
        <li><img src="/arquivos/icone-Hipercard.png" alt="Hipercard" title="Hipercard" /></li>
        <li><img src="/arquivos/icone-Diners.png" alt="Diners" title="Diners" /></li>
        <li><img src="/arquivos/icone-boleto.png" alt="Boleto" title="Boleto" /></li>
      </ul>
    </div>
    <div id="security" class="col">
      <h4>Selos</h4>
      <ul>
        <li><a title="Loja Virtual Segura com Certificado SSL" href="#">
            <img src="/arquivos/loja-segura.png" alt="Loja Virtual Segura" /></a></li>
      </ul>
    </div>
  </div>
</footer>