#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)

<article>
    <a href="$uri">
        <span class="shelf-img shelf-front">
            $product.GetImageTag(29)
        </span>
        <h1>$escapedName</h1>
        #if ($product.IsInStock)
            <span class="price">
            #if ($product.HasBestPrice)
                <span class="old-price">$product.ListPrice</span>
                <span class="best-price">$product.BestPrice</span>
                <span class="installment">
                    #if ($product.NumbersOfInstallment > 1)
                        ou ${product.NumbersOfInstallment}x de $product.InstallmentValue sem juros
                    #end
                </span>
            #else
                <span class="best-price">$product.BestPrice</span>
                <span class="installment">
					#if ($product.NumbersOfInstallment > 1)
						$product.NumbersOfInstallment<span>x</span> de $product.InstallmentValue sem juros
					#end
				</span>
            #end
            </span>
        #else
            <strong class="sold-out">Acabou, por enquanto!</strong>
        #end
    </a>

</article>
<a href="$uri">
    <span class="shelf-action">
        Comprar
    </span>
</a>

<!-- flags -->
<div class="flags">
    $product.HightLight
</div>
