@charset "UTF-8";
@import "reset/reset";
@import "variaveis/variaveis";
@import "mixins/mixins";

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img,
abbr,
acronym,
fieldset-img,
table {
	border: 0 none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

ol,
ul,
menu {
	list-style: none;
	margin: 0;
}

body {
	line-height: 1;
	font-size: 14px;
	background: $white;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: $black;
	transition: all .15s ease;
	backface-visibility: hidden;

	&:hover {
		color: $light-grey;
	}
}

:after,
:before {
	transition: all .15s ease;
	backface-visibility: hidden;
}

p {
	line-height: normal;
	line-height: 20px;
	color: $grey;
	font-size: 14px;
}

em {
	font-style: normal;
}

img {
	border: none;
}

input:focus {
	outline: none;
}

* {
	margin: 0px;
	padding: 0px;
	outline: none !important;
	font-family: "Lato", sans-serif !important;
}

i {
	font-family: 'FontAwesome' !important;
}

/* grid*/

.ext {
	clear: both;
	float: none;
	width: 100%;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.int,
.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1175px;
}

.line {
	clear: both;
	float: none;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}

.col10 {
	float: left;
	width: 10%;
}

.col15 {
	float: left;
	width: 15%;
}

.col16 {
	float: left;
	width: 16%;
}

.col20 {
	float: left;
	width: 20%;
}

.col25 {
	float: left;
	width: 25%;
}

.col30 {
	float: left;
	width: 30%;
}

.col33 {
	float: left;
	width: 33.33%;
}

.col35 {
	float: left;
	width: 35%;
}

.col40 {
	float: left;
	width: 40%;
}

.col45 {
	float: left;
	width: 45%;
}

.col48 {
	float: left;
	width: 48%;
}

.col50 {
	float: left;
	width: 50%;
}

.col60 {
	float: left;
	width: 60%;
}

.col66 {
	float: left;
	width: 66.66%;
}

.col70 {
	float: left;
	width: 70%;
}

.col75 {
	float: left;
	width: 75%;
}

.col80 {
	float: left;
	width: 80%;
}

.col90 {
	float: left;
	width: 90%;
}

.col100 {
	float: left;
	width: 100%;
	clear: both;
}

.col-right {
	float: right;

	&.border {
		border-left: 10px solid $white;
	}
}

.col-left.border {
	border-right: 10px solid $white;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.accordion-toggle .link-box-edit {
	right: 14px;
	top: -12px;
}

.transition {
	transition: all .2s ease;
	backface-visibility: hidden;
}

.modal p {
	color: $white !important;
}

/* HEADER */

#header {
	background-color: $white;
	border-bottom: 1px solid $light-black;

	>.int {
		padding-bottom: 10px;
		margin-bottom: 5px;
		padding-top: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.box-aviso {
	background: $red-light;
	width: 300px;
	padding: 8px 16px;
}

.text-aviso {
	color: $white;
	font-weight: bold;
	text-align: center;
}

#header {
	.security-top {
		margin-top: 6px;

		img {
			display: block;
		}
	}

	.logo {
		font-size: 38px;
		color: $grey;
		display: block;
		max-width: 180px;
		margin-bottom: 5px;

		img {
			width: 100%;
		}
	}
}

@media #{$mobile} {
	#header>.int {
		flex-direction: column;
		justify-content: unset;
		align-items: unset;
	}

	.box-aviso {
		width: 80%;
		margin: 30px auto 0;
		padding: 4px 8px;
	}
}

/* EMPTY CART*/

.empty-cart-content {
	text-align: center;
	position: relative;
	z-index: 99;
}

.empty-cart-title {
	color: $black;
	font-size: 22px;
	margin: 13px;

	&:before {
		content: "Meu Carrinho";
		position: absolute;
		top: -45px;
		width: 100%;
		left: 0;
		background: $white;
		font-size: 30px;
	}
}

.empty-cart-message {
	margin-bottom: 20px;
}

#cart-choose-products {
	font-size: 0;
	max-width: 320px;

	&:before {
		content: "ir \00E0s compras";
		font-size: 14px;
		font-weight: 700;
	}
}

.text input {
	border-radius: 0;
	height: 30px;
}

/* CART */

body {
	&.body-cart h1#cart-title {
		padding: 0;
		margin: 0;
		margin-top: 42px;
		font-size: 33px;
		font-weight: bold;
		color: $black;
		text-align: center;
	}

	.product-image img {
		width: auto;
		height: auto;
	}

	table.cart-items {
		border: 1px solid;
		background: $white;
		border-color: $light-grey !important;

		* {
			border-color: $light-grey !important;
		}
	}
}

.item-remove {
	padding-right: 0 !important;
}

body {
	table.cart-items {
		thead {
			border-bottom: 1px solid;
			background-color: $smoke;
			font-weight: 700;

			tr th:last-child {
				border-right: none !important;
			}
		}

		th {
			color: $black;
			font-size: 13px;
			line-height: 12px;
			font-weight: 700;
			background-color: $light-grey;
			padding: 15px 10px;
		}
	}

	.cart-links-bottom {
		width: 100%;
	}
}

.cart-links-bottom .btn-success {
	width: 312px !important;
}

.link-choose-more-products-wrapper #cart-choose-more-products {
	display: block;
	float: left;
	width: 310px;
	height: 51px;
	margin-right: 0;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	border: 2px solid $light-grey;
	color: $light-grey;
	line-height: 50px;

	&:before {
		content: "";
		display: inline-block;
		width: 10px;
		margin-right: 7px;
		height: 16px;
		background: url("/arquivos/arrow-left.png") no-repeat;
		position: relative;
		top: 3px;
		transition: all .2s ease-in;
	}

	&:hover {
		&:before {
			margin-right: 12px;
		}

		text-decoration: none;
		color: $black;
		background-color: $light-grey;
		margin-right: 0;
	}
}

body {
	.cart {
		padding-bottom: 0px !important;
		margin-bottom: 0 !important;
		border: 0;
		padding: 0;
		margin-top: 30px;
	}

	table.table {
		border: 1px solid;
		margin-top: 3px;
		margin-bottom: 25px;
	}

	.summary-totalizers {
		position: relative;
		top: -9px;
		left: -3px;

		* {
			color: $light-grey;
			font-size: 14px !important;
			border-color: $white;
		}
	}
}

.cart-active .summary-coupon {
	margin: 5px 0 !important;
}

body .summary-totalizers>* {
	display: block;
	width: 100%;
	float: right;
}

.full-cart .summary-totalizers {
	.empty {
		display: none;
	}

	.shipping-calculate+tfoot tr:last-child {

		.info,
		.monetary {
			color: $black;
			font-weight: 700;
		}
	}
}

span.error {
	display: none;
}

body .cart-items li.hproduct {
	border: 0 !important;
	padding: 0;
	color: $black !important;
	border: none !important;
	background: transparent !important;

	a {
		color: $black !important;
		border: none !important;
		background: transparent !important;

		* {
			color: $black !important;
			border: none !important;
			background: transparent !important;
		}
	}
}

.mini-cart .summary-template-holder {
	border: none !important;
}

.full-cart .summary-totalizers {
	.info {
		text-align: left;
		width: auto;
		min-width: initial;
		padding-left: 0;
	}

	.monetary {
		text-align: right;
		width: auto;
	}
}

body table.table {
	border-color: $white !important;

	* {
		border-color: $white !important;
	}
}

.table .item-remove a {
	width: 100%;
	text-align: center;

	/*  display: flex; */
}

.icon-remove {
	background: rgba(0, 0, 0, 0) url(/arquivos/icon-trash.png) no-repeat scroll 0 0;
	color: $white;
	display: block !important;
	font-size: 0;
	height: 16px;
	margin: 0;
	text-indent: -999px;
	width: 25px;
	float: right;

	&:hover {
		opacity: .7;
		filter: alpha(opacity=70);
	}
}

body.body-order-form table.table {
	border: 0px;
}

.full-cart .summary-totalizers tr:first-child {
	border-bottom: 1px solid $light-grey !important;
}

.shipping-calculate *,
.full-cart .summary-totalizers .shipping-calculate+tfoot tr:first-child {
	border: 0 !important;
}

.coupon-label label {
	color: $black;
	text-align: left;
	font-weight: 700;
	margin-bottom: 3px;
}

p.coupon-fields {
	display: block !important;
	float: left;
	position: relative;
}

input#cart-coupon {
	display: block;
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 75px;
}

.help.error {
	clear: both;
}

.steps-view {
	background: $white;
	border: 1px solid $light-grey;
	border-radius: 0;
}

.payment-confirmation-wrap {
	background: transparent;
	padding: 0;
}

.mini-cart {
	.affix-top .payment-submit-wrap {
		margin: 0;
		bottom: -118px;
		position: relative;
		bottom: -6px !important;
	}

	.affix .payment-submit-wrap {
		margin: 0;
		bottom: 0px !important;
		position: relative;
		margin-top: -21% !important;
	}
}

.cart-fixed.cart-fixed-transition {

	&.affix-top .payment-submit-wrap .btn-success#payment-data-submit,
	&.affix .payment-submit-wrap .btn-success#payment-data-submit {
		/*  top: initial !important; */
		margin: 0px !important;

		/*  margin-top: 20% !important; */
	}
}

fieldset.coupon-fieldset div {
	display: block !important;
}

a#cart-link-coupon-add {
	display: none;
}

form.form-step a {
	color: $black;

	&.active {
		color: $black;

		span {
			color: $black;
		}
	}

	span {
		font-size: 13px;
		text-indent: 5%;
		color: $black;
		margin: 0;
		text-decoration: none !important;
	}
}

.payment-group-item-text {
	background: none !important;
	text-decoration: none !important;
}

.box-client-info-pj {
	width: 100%;
	display: block;
	margin-top: 0;

	ul {
		width: 100%;
		display: block;
		margin-top: 0;
	}
}

li.link.pf-pj {
	width: 100%;
	display: block;
	margin-top: 0;
}

.box-client-info-pj ul {
	margin-top: 15px;
}

li.link.pf-pj {
	margin-bottom: 10px;
	color: $white;
}

#is-corporate-client,
#change-other-shipping-option {
	width: 100%;
	height: 45px !important;
	display: block;
	text-decoration: none;
	padding: 0 !important;
	color: $white;
	text-align: center;
	background-color: $grey;
	font-weight: 700;
	box-sizing: border-box;
	border-radius: 0;
	box-shadow: none !important;
	line-height: 46px !important;
	outline: 0 !important;
	border: none !important;
}

#is-corporate-client:hover {
	opacity: .8;
}

#change-other-shipping-option {
	&:hover {
		opacity: .8;
	}

	margin-top: 15px;
	font-size: 13px;
}

.summary-coupon {
	clear: right;
	margin-top: 10px !important;
	float: left;
}

.total {
	font-weight: 700 !important;
	color: $black;

	+span {
		font-weight: 700 !important;
		color: $black;
	}
}

.accordion-heading {
	padding: 25px 0 10px 25px;
}

.payment-data.span6 .accordion-heading {
	padding-left: 0 !important;
}

.payment-group-item {
	border-radius: 0;
	border: 0;
	text-decoration: none;
}

.steps-view iframe {
	background: transparent;
}

.link.link-cart {
	display: block;
	width: 100%;
}

.cart-fixed {
	min-height: -webkit-fill-available;
}

.cart-fixed.cart-fixed-transition.affix-top {
	width: auto;
	padding: 20px 7%;
	max-height: fit-content;
}

#orderform-minicart-to-cart {
	display: block;
	border: 2px solid $primary-color;
	width: 99%;
	height: 33px;
	text-align: center;
	color: $primary-color;
	line-height: 33px;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-weight: 700;

	&:hover {
		text-decoration: none;
		color: $white;
		background: $primary-color;
	}
}

.mini-cart tfoot .monetary {
	color: $black;
}

.payment-group-item {
	&.active {
		background: $white !important;
		border-color: $black;
	}

	border: 1px solid $light-grey;
}

.orderform-template {
	margin-top: 25px;
}

p {

	&.client-first-name,
	&.client-last-name,
	&.client-document,
	&.client-phone {
		width: 50%;
		margin: 0 0 15px 0 !important;
		box-sizing: border-box;
	}

	&.client-first-name input,
	&.client-last-name input,
	&.client-document input,
	&.client-phone input {
		width: 100%;
		box-sizing: border-box;
		height: 40px;
	}

	&.client-first-name input,
	&.client-document input {
		width: 96%;
	}
}

body table.table .quantity input {
	border: 1px solid $grey !important;
	box-shadow: none;
}

.icon-plus-sign:before {
	content: "+";
	color: $black;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	font-size: 22px;
}

.icon-minus-sign:before {
	content: "-";
	color: $black;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	font-size: 23px;
}

.mini-cart .table td.info,
.shipping-name {
	float: left;
	font-weight: 700;
	color: $grey !important;
	margin-right: 5px;
}

.mini-cart .summary-totalizers td {
	font-weight: 700;
}

.body-order-form .mini-cart .table tfoot td.info {
	color: $black !important;
}

.payment-data .step {
	background: $white !important;
}

.payment-body .accordion-inner,
.step.accordion-group {
	padding: 0 !important;
}

.payment-group-list-btn {
	width: 100%;
	display: block;
	padding: 0 0 0 0;
	position: relative;
	margin: 0;
	left: 0px;
	background: $white;

	a {
		width: 100%;
		display: block;
		padding: 0 0 0 0;
		position: relative;
		margin: 0;
		left: 0px;
		background: $white;
	}
}

.steps-view {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.payment-group {
	width: 50%;
	float: left;
	box-sizing: border-box;
	position: relative;
	z-index: 90;
	margin-top: 0;
	padding-top: 50px;
	background: $black;
}

/* Cupom*/

.coupon-form {
	position: relative;

	#cart-coupon-add {
		background: $light-grey;
		height: 45px;
		left: 101%;
		position: absolute;
		text-transform: uppercase;
		font-size: 12px;
		color: $grey;
		top: 0;
		font-weight: bold;

		/*  border: 0 !important; */
	}

	#cart-coupon {
		height: 43px;
		height: 40px;
		border: 1px solid $light-grey;
		margin-top: 2px;
	}
}

/* SUMMARY ON CART*/

.body-cart .summary-totalizers {
	width: 24%;
}

.cart-template.mini-cart {
	border: 1px solid $light-grey;
}

.icon-credit-card {
	display: none;
}

.summary-cart-template-holder .cart {
	background: transparent !important;
}

.payment-data .active .accordion-heading span {
	pointer-events: none;
	position: relative;
	top: 24px;
	color: $grey;
	z-index: 99;
}

/* EMAIL*/

.client-pre-email {
	.client-email {
		float: left !important;
	}

	.emailInfo {
		padding: 9px 22px 15px;
		border: 0;
		border-radius: 0;
		background: $smoke;

		li {
			line-height: 28px;
		}

		h3,
		.icon-lock {
			display: none;
		}
	}

	.btn-success {
		position: absolute;
		width: 37% !important;
	}
}

.client-pre-email-h label {
	text-align: center;

	>* {
		display: block;
		float: none;
		line-height: 38px;
		font-weight: 700 !important;
	}
}

.client-pre-email {
	border-top: 0 !important;

	input[type="email"] {
		width: 62%;
		float: left;
		border-radius: 0;
		border-color: $light-grey;
		box-shadow: none !important;
		margin-top: 2px;
		height: 50px;
	}
}

.step,
.cart,
.payment-data {
	border: 0;
	background-color: $smoke !important;
	border-radius: 0;
}

.totalizers {
	border: 1px solid $light-grey;
}

.icon-user,
.icon-home {
	display: none;
}

span[class*="title"] {
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	display: block;
	width: 100%;

	span {
		font-weight: bold;
		font-size: 14px;
		padding: 0;
		display: block;
		width: 100%;
	}
}

.accordion-heading .accordion-toggle,
.mini-cart h2 {
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	display: block;
	width: 100%;
}

.summary-cart-template-holder .cart {
	margin-top: 10px;
	max-height: 260px;
}

.accordion-inner {
	padding: 0 25px 25px;
}

.box-info .shipping-options.just-one p {
	color: $black;
}

.client-email input {
	background: $white;
	display: block;
	padding: 9px 10px;
	border: 1px solid $grey;
	width: 100%;
	box-sizing: border-box;
	height: 40px;
}

/* PAYMENT*/

#go-to-shipping {
	width: 100% !important;
	margin-top: 15px;
}

#orderform-title {
	display: none !important;
}

body {
	.totalizers.summary-totalizers.cart-totalizers {
		padding: 0;
		position: relative;
		left: 0px;
		margin: 0;
		border: 0;
	}

	.btn-success {
		background: $green;
		color: $white;
		width: 100%;
		border: 0;
		font-size: 16px;
		margin-top: 10px;
		height: 55px;
		border-radius: 0;
		line-height: 56px;
		padding: 0;
		font-weight: 700;

		&#payment-data-submit {
			margin-left: auto !important;
			margin-right: auto !important;
			margin-top: 0px !important;
			top: 90% !important;
			position: absolute;
			bottom: 0px !important;
		}

		&:hover {
			background: $green;
		}
	}
}

/* .body-order-form .btn-success{width: 100%;margin-top:30px;position: initial}*/

button.btn-go-to-payment {
	width: 100% !important;
}

body {
	#cart-to-orderform:before {
		content: "";
		display: inline-block;
		margin-right: 8px;
		width: 15px;
		height: 20px;
		top: 3px;
		background: url("/arquivos/icon-lock.png") no-repeat;
		position: relative;
	}

	.btn-place-order-wrapper {
		float: right;
		display: block;
	}
}

/* orderplaced*/

#app-top {
	position: relative;
}

.body-checkout-confirmation {
	h1 {
		display: none;
	}

	#app-top:before {
		display: block;
		position: absolute;
		width: 100%;
		height: 320px;
		background: $dark-black;
		z-index: 0;
		content: "";
	}

	.ph3-ns {
		z-index: 100;
		position: relative;
		background: $white;
		padding: 0;
	}

	.cconf-alert {
		width: 100%;
		text-align: center;
		border-radius: 0;
		border: 0;
		padding: 0;
		display: flex;
		background: $dark-black;
		flex-direction: column;
		justify-content: center;

		&:before {
			content: "";
			display: block;
			width: 410px;
			height: 0;
			background: url(/arquivos/obrigado.png) no-repeat;
			background-size: 100% auto;
			margin-bottom: -10px;
			padding-bottom: 64px;
		}

		* {
			color: $white;
		}
	}
}

#print-bank-invoice span {
	width: 300px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 700;
}

.body-checkout-confirmation {
	.cconf-alert span {
		margin-bottom: 20px;
	}

	.w-100.fl.pa2.pl0 {
		.fw4.f3.ma0.lh-copy {
			text-transform: uppercase;
			color: $dark-black;
			float: left;
		}

		time {
			padding: 15px 0 0 15px;
			display: block;
			float: left;
		}

		.fw4.f3.ma0.lh-copy #order-id {
			font-style: italic;
			font-weight: bold;
			font-size: 20px;
		}
	}

	h3.tracked-mega span {
		color: $dark-black;
		letter-spacing: 0;
		font-weight: bolder;
		font-size: 16px;
	}

	.cconf-address {

		*,
		~div * {
			box-shadow: none !important;
		}
	}

	.cconf-continue-button,
	.cconf-myorders-button {
		background: $white;
		border-color: $red;
		color: $red;
		height: 45px;
		line-height: 45px;
		padding: 0;
		text-transform: uppercase;
		font-size: 12px;
	}

	.cconf-continue-button:hover,
	.cconf-myorders-button:hover {
		background: $red;
		color: $white;
		transition: all .15s linear;
	}
}

#buscando-lojas {
	position: absolute;
	left: 50%;
	transform: translateX(50%);
	width: 200px;
	color: $white;
	display: flex;
	margin-top: 5%;
	flex-direction: column;
	justify-content: center;
	z-index: 105;
	text-align: center;
	top: 15%;
	font-size: 16px;
	line-height: 20px;
}

/* FOOTER */

footer#footer {
	padding-bottom: 25px;
	margin-top: 0;
	padding-top: 20px;
	background: $smoke;
	color: $white;

	.col {
		&.eq01 {
			width: 31%;
		}

		&.eq02 {
			width: 19%;
		}

		&.eq03 {
			width: 25%;
		}

		&.eq04 {
			width: auto;
			float: left;
		}

		h4 {
			font-size: 14px;
			color: $black;
			margin-bottom: 22px;
			font-weight: 700;
		}

		font-size: 13px;
		line-height: 30px;

		a {
			font-size: 13px;
			line-height: 30px;

			&:hover {
				color: $black;
			}
		}
	}
}

#footer-info {
	padding-top: 45px;
	border-top: 1px solid $grey;
	margin-top: 35px;
	float: left;
	width: 100%;
}

footer#footer {
	.col.eq03 .about-footer {
		margin-bottom: 20px;

		a {
			display: block;
			width: 177px;
			text-align: center;
			font-size: 18px;
			margin-top: 20px;
			line-height: 45px;
			background-color: $green-dark;
			color: $white;
			border-radius: 3px;

			&:hover {
				background-color: $green-dark;
			}
		}
	}

	#operation {
		margin-top: 48px;

		>strong {
			display: block;
			margin-bottom: 23px;
			color: $black;
		}
	}

	.col.eq01 {
		>strong {
			font-size: 38px;
			font-weight: normal;
			display: block;
			margin-bottom: 26px;
		}

		.contact li {
			line-height: 30px;

			&:before {
				content: "";
				width: 20px;
				height: 19px;
				background: url("/arquivos/sprite.png") no-repeat;
				display: inline-block;
				margin-right: 28px;
				position: relative;
				top: 6px;
			}

			&.eq01:before {
				background-position: -798px -3px;
			}

			&.eq02:before {
				background-position: -832px -1px;
				height: 23px;
			}

			&.eq03:before {
				background-position: -864px -2px;
			}
		}
	}

	#payment-forms ul {
		margin-right: 4.81%;
		float: left;

		span {
			display: block;
			margin-bottom: 10px;
			font-size: 12px;
			color: $grey;
			font-weight: 700;
		}

		li {
			display: inline-block;
			margin-right: 8px;
		}
	}

	#security ul li {
		float: left;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

@media only screen and (max-width: 1220px) {
	footer#footer .col#security {
		clear: left;
		margin-top: 20px;
	}

	#payment-forms {
		width: auto !important;
		min-width: initial;
		float: none;
	}
}

.full-cart .cart-links-bottom .btn-success {
	margin-top: 0px;
}

@media only screen and (max-width: 1280px) {
	/* common*/

	.int,
	.container {
		float: left;
		width: 98%;
		padding: 0 1%;
	}
}

@media only screen and (min-width: 1170px) {
	body.body-cart {
		.span5.totalizers.summary-totalizers {
			position: relative;
			width: 40%;
			max-width: 317px;
			justify-content: flex-start;
		}

		.full-cart {
			.totalizers tfoot td {
				font-size: 18px !important;
			}

			.summary-totalizers .monetary {
				min-width: 100px !important;
			}
		}

		.span5.totalizers.summary-totalizers .empty {
			display: none !important;
		}

		.shipping-calculate {
			border: 0;
			display: none !important;
			position: absolute;
			left: -590px;
			top: 14px;

			tr,
			td {
				display: block !important;
				padding: 0;
			}
		}

		.full-cart .summary-totalizers .info {
			text-align: left;
			color: $black !important;
			font-weight: 700;

			span {
				color: $black !important;
			}
		}

		.summary-coupon.pull-right {
			float: right !important;
			margin-left: 0px !important;
		}

		.shipping-calculate {
			input.postal-code {
				max-width: initial;
				margin-right: -16px;
				width: calc(100% - 97px);
				height: 34px;
				border: 1px solid $light-grey !important;
				box-shadow: none !important;
			}

			.monetary {
				/*  display: none !important; */
				background: $light-grey;
				color: $grey;
				font-weight: bold;
				border: 0;
			}
		}

		#shipping-calculate-link {
			/*  display: none !important; */
			background: $light-grey;
			color: $grey;
			font-weight: bold;
			border: 0;
		}

		.coupon-fieldset>div,
		.monetary.form-postal-code.forms {
			/*  display: block !important; */
			border: 0 !important;
		}

		.full-cart .shipping-calculate {
			.shipping-form-inline {
				min-width: 250px !important;
			}

			tr {
				border-bottom: 0 !important;
			}
		}

		#cart-shipping-calculate {
			background: $light-grey;
			height: 44px;
			left: 138px;
			position: absolute;
			text-transform: uppercase;
			color: $grey;
			font-size: 12px !important;
			border: 1px solid $light-grey !important;
		}
	}
}

@media only screen and (max-width: 940px) {
	.body-checkout-confirmation .cconf-alert {
		&:after {
			display: none !important;
		}

		* {
			width: 100%;
		}
	}
}

@media #{$mobile} {
	.full-cart .item-quantity-change {
		position: initial;
	}

	body {
		padding-left: 0px;
		padding-right: 0px;
	}

	.body-cart {
		padding-bottom: 0px;
	}

	.checkout-container {
		width: 90%;
		padding: 0 5%;
		padding-bottom: 100px;
	}

	.link-choose-more-products-wrapper,
	.btn-place-order-wrapper {
		width: 49%;
		display: block;
		box-sizing: border-box;
		float: left;
	}

	body {
		.totalizers.summary-totalizers.cart-totalizers {
			width: 100%;
		}

		#cart-to-orderform {
			float: right;
			width: 98% !important;
			height: 55px;
			box-sizing: border-box;
		}
	}

	.link-choose-more-products-wrapper #cart-choose-more-products {
		float: right;
		width: 98% !important;
		height: 55px;
		box-sizing: border-box;
	}

	.int,
	.container {
		width: 100%;
	}
}

@media #{$mobile} {
	#buscando-lojas {
		display: none;
	}

	.row-fluid .orderform-template.inactive {
		display: none !important;
		margin-left: 0;
	}
}

@media (max-width: 490px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}

	.client-pre-email .btn-success {
		width: 100% !important;
		position: relative;
		right: auto;
		top: auto;
		margin: 5px auto 0;
	}

	.item-component .top-arrow,
	.item-attachments-head .top-arrow {
		display: none;
	}

	#header {
		padding-bottom: 10px;
	}

	body .btn-place-order-wrapper:after {
		margin: 60px 0;
	}
}

@media (max-width: 470px) {
	.security-top {
		display: none;
	}

	.logo img {
		display: block;
		margin: 0 auto;
	}
}

.body-cart span.help.error {
	position: absolute;
	float: left;
	background: $red-light;
	padding: 7px;
	border-radius: 3px;
	color: $red;
	width: 100%;
	display: block !important;
	margin: 0px;
	top: 0;
	left: 0px;
}

.full-cart .cart-links-bottom .btn-success {
	margin-top: 0px;
}

footer#footer #payment-forms ul li {
	display: inline-block;
	margin-bottom: 7px;
	margin-right: 3px;
}

body.body-cart .full-cart .cart-links-bottom .btn-success:after {
	content: 'Finalizar Compra';
	font-size: 15px;
}

.body-order-form button#btn-client-pre-email {
	top: -8px;
}

body.body-cart .full-cart .cart-links-bottom .btn-success {
	font-size: 0px;
}

@media screen and (max-width: 920px) {
	.payment-data {

		.payment-group,
		.link-gift-card {
			position: relative;
			width: 100%;
		}
	}
}

table.table.cart-items tr.product-item small.seller.muted {
	display: none;
}

#security img {
	max-height: 60px;
	vertical-align: middle;
	padding: 5px;
}

.payment-submit-hide {
	height: auto !important;
	left: 0;
	position: relative;
	opacity: 1;
	width: 100%;
	clear: both;
}

/*  Ocultar Compras por CNPJ */

#is-corporate-client,
.payment-submit-hide {
	display: none;
}

@media screen and (max-width: 600px) {
	.icon-remove {
		margin-top: -19px;
	}
}

.link-choose-more-products-wrapper #cart-choose-more-products {
	overflow: hidden;
}

tr.product-item {
	margin-top: 40px !important;
}

.row-fluid {
	display: flex;
	justify-content: space-between !important;
	flex-wrap: wrap;

	&.summary {
		&:before {
			display: none;
		}

		&:after {
			display: none;
			display: none;
		}
	}
}

@media (max-width: 576px) {
	.row-fluid {
		display: flex !important;
		flex-direction: column;
	}
}

.payment-group {
	background: $smoke;
}

.forms.coupon-column.summary-coupon-wrap.span7.pull-left {
	/*  display: flex !important; */
	justify-content: flex-end;
	width: 100%;
	padding-right: 100px;
	margin-bottom: 10px;
}

.cart-more-options {
	&.span7 {
		margin: 20px 0;
	}

	margin: 0;
}

.forms.coupon-column {
	float: left;
	width: 100%;
	display: block;
}

#item-limit {
	text-align: center;
}

.CardForm {

	div,
	p {
		margin-bottom: 15px;
	}

	padding: 15px;
}

.vtex-omnishipping-1-x-summaryChange,
.accordion-toggle .link-box-edit,
.vtex-omnishipping-1-x-summaryChange,
.onda-v1 .blue {
	color: $primary-color !important;
}

.vtex-omnishipping-1-x-deliveryChannelsToggle,
.vtex-omnishipping-1-x-summaryChange,
.vtex-omnishipping-1-x-summaryChange,
.onda-v1 .b--blue {
	border-color: $primary-color !important;
}

.vtex-omnishipping-1-x-deliveryChannelsToggle {
	background-color: $primary-color !important;
}

.vtex-omnishipping-1-x-svg path {
	fill: $primary-color !important;
}

.vtex-omnishipping-1-x-addressSummaryActive .address-summary {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24'><path fill='$primary-color' d='M15.998,5.951L4,16.237V30c0,0.552,0.448,1,1,1h8v-8h6v8h8c0.552,0,1-0.448,1-1V16.238L15.998,5.951z M19,19 h-6v-5h6V19z'></path> <polygon fill='$primary-color' points='15.998,0.683 9,6.682 9,3 5,3 5,10.111 0.59,13.892 1.892,15.41 15.998,3.317 30.108,15.41 31.41,13.892 '></polygon></svg>") no-repeat !important;
}

.SecurityEnvironmentIcon {
	position: absolute;
	right: 0;
	bottom: 0;
}

.default-modal-body {
	min-height: 90px;
}
